[["capgemini-tos-1" :tos/full-text "Terms Of Use | Capgemini 

 -->

 Insights link Insights Explore our latest thought leadership, ideas, and insights on the issues that are shaping the future of business and society. Learn more 

 Hot topics 
 Back Hot topics 
 Reshape your future with AI 
 Leading sustainability 
 The future of technology 
 Marketing for customer experience 

 Conversations for tomorrow 
 The Scale Effect 
 Initiatives with the World Economic Forum 
 Our research library 
 Expert perspectives 

 Industries link Industries Choose a partner with intimate knowledge of your industry and first-hand experience of defining its future. Learn more 

 Aerospace and defense 
 Automotive 
 Banking and capital markets 
 Consumer products 
 Energy and utilities 
 Healthcare 
 High-tech 
 Hospitality and travel 
 Insurance 
 Life sciences 
 Manufacturing 
 Media and entertainment 
 Public sector 
 Retail 
 Telecoms 

 Services link Services Discover our portfolio – constantly evolving to keep pace with the ever-changing needs of our clients. Learn more 

 Cloud 
 Customer first 
 Cybersecurity 
 Data and artificial intelligence 
 Enterprise management 
 Intelligent industry 
 Sustainable business 

 Careers link Careers Become part of a diverse collective of free-thinkers, entrepreneurs and experts – and help us to make a difference. Learn more 

 Why join Capgemini 
 Life at Capgemini 
 Meet our people 
 Career paths 
 Back Career paths 
 Students and graduates 
 Experienced professionals 
 Executives 
 Our professions 
 Careers at Capgemini Engineering 
 Careers at Capgemini Invent 

 Join us 
 Back Join us 
 Recruitment process 
 Interview tips 
 Job search 

 News link News See our latest news, and stories from across the business, and explore our archives. Learn more 

 Press releases 
 Analyst recognition 
 Client stories 
 Inside stories 
 Social media 
 Events 

 About us link About us We are a global leader in partnering with companies to transform and manage their business by harnessing the power of technology. Learn more 

 Who we are 
 Back Who we are 
 What we do 
 The way we work 
 Our innovation ecosystem 
 Values and Ethics 
 Our brands 

 Management and governance 
 Back Management and governance 
 Board of Directors 
 Executive committee 
 Responsible business 
 Policies 

 Environment, Social & Governance 
 Corporate Social Responsibility 
 Back Corporate Social Responsibility 
 Digital inclusion 
 Diversity and inclusion 
 Environmental sustainability 
 Partnerships 
 Tech4Positive Futures 

 Transforming sports 
 Back Transforming sports 
 Peugeot Sport 
 Rugby 
 Ryder Cup 
 Tour de France 
 The 37th America’s Cup 

 Technology partners 
 Locations 

 Investors 
 Contact us 

 -->

 Global | EN 

 -->

 -->

 Dark and light mode toggle, currently light mode 

 Your location 

 Global | EN

 Worldwide Global | EN Americas Argentina | ES Brazil | PT Canada | EN Canada | FR Colombia | ES Guatemala | EN Mexico | ES United States | EN Asia Pacific Australia | EN China | ZH India | EN Japan | JP New Zealand | EN Singapore | EN Europe, Middle East & Africa Austria | EN Belgium | EN Czech Republic | EN Denmark | EN Egypt | EN Finland | EN France | FR Germany | DE Hungary | EN Ireland | EN Italy | IT Luxembourg | EN Morocco | EN Netherlands | NL Norway | NO Poland | PL Portugal | EN Romania | EN KSA | EN Spain | ES Sweden | EN Switzerland | EN UAE | EN UK | EN 

 Contact us 

 Investors 

 Global | EN

 Your location 

 Global | EN 

 Worldwide Global | EN Americas Argentina | ES Brazil | PT Canada | EN Canada | FR Colombia | ES Guatemala | EN Mexico | ES United States | EN Asia Pacific Australia | EN China | ZH India | EN Japan | JP New Zealand | EN Singapore | EN Europe, Middle East & Africa Austria | EN Belgium | EN Czech Republic | EN Denmark | EN Egypt | EN Finland | EN France | FR Germany | DE Hungary | EN Ireland | EN Italy | IT Luxembourg | EN Morocco | EN Netherlands | NL Norway | NO Poland | PL Portugal | EN Romania | EN KSA | EN Spain | ES Sweden | EN Switzerland | EN UAE | EN UK | EN 

 Insights Insights Explore our latest thought leadership, ideas, and insights on the issues that are shaping the future of business and society. Learn more 

 Hot topics 

 Reshape your future with AI 
 Leading sustainability 
 The future of technology 
 Marketing for customer experience 

 Conversations for tomorrow 
 The Scale Effect 
 Initiatives with the World Economic Forum 
 Our research library 
 Expert perspectives 

 Capgemini Research Institute #1 in the world six consecutive times 

 Industries Industries Choose a partner with intimate knowledge of your industry and first-hand experience of defining its future. Learn more 

 Aerospace and defense 
 Automotive 
 Banking and capital markets 
 Consumer products 
 Energy and utilities 
 Healthcare 
 High-tech 
 Hospitality and travel 
 Insurance 
 Life sciences 
 Manufacturing 
 Media and entertainment 
 Public sector 
 Retail 
 Telecoms 

 Explore our brands Explore our technology partners 

 Services Services Discover our portfolio – constantly evolving to keep pace with the ever-changing needs of our clients. Learn more 

 Cloud 
 Customer first 
 Cybersecurity 
 Data and artificial intelligence 
 Enterprise management 
 Intelligent industry 
 Sustainable business 

 Explore our brands Explore our technology partners 

 Careers Careers Become part of a diverse collective of free-thinkers, entrepreneurs and experts – and help us to make a difference. Learn more 

 Why join Capgemini 
 Life at Capgemini 
 Meet our people 
 Career paths 

 Students and graduates 
 Experienced professionals 
 Executives 
 Our professions 
 Careers at Capgemini Engineering 
 Careers at Capgemini Invent 

 Join us 

 Recruitment process 
 Interview tips 
 Job search 

 Explore careers with our brands 

 News News See our latest news, and stories from across the business, and explore our archives. Learn more 

 Press releases 
 Analyst recognition 
 Client stories 
 Inside stories 
 Social media 
 Events 

 About us About us We are a global leader in partnering with companies to transform and manage their business by harnessing the power of technology. Learn more 

 Who we are 

 What we do 
 The way we work 
 Our innovation ecosystem 
 Values and Ethics 
 Our brands 

 Management and governance 

 Board of Directors 
 Executive committee 
 Responsible business 
 Policies 

 Environment, Social & Governance 
 Corporate Social Responsibility 

 Digital inclusion 
 Diversity and inclusion 
 Environmental sustainability 
 Partnerships 
 Tech4Positive Futures 

 Transforming sports 

 Peugeot Sport 
 Rugby 
 Ryder Cup 
 Tour de France 
 The 37th America’s Cup 

 Technology partners 
 Locations 

 Discover how we accompany our clients in harnessing the potential of technology 

 Search 

 -->

 Dark and light mode toggle, currently light mode 

 Currently in light mode

 Search 

 Close X 

 Search 

 Most searched: 

 Generative AI 

 Cloud 

 Management team 

 Job offers 

 Show all results 

 Home Terms of use 

 Terms of use 

 1. Acceptance of these terms of use 

 These Terms of Use (« ToU ») state the terms and conditions governing your use of and access to the Capgemini website (the « Site ») and constitute a legally binding contract between you and Capgemini (« Capgemini » or “we” or “us”). By accessing and browsing the Site or by using and/or downloading any content from same, you agree and accept the ToU as set forth below. 

 If you are an individual, you represent and warrant that you have reached the age of majority in the jurisdiction in which you reside. 

 If you are an individual accessing or using the Site on behalf of, or for the benefit of, any corporation, partnership or other entity with which you are associated (an “Organization”), then you are agreeing to these ToU on behalf of yourself and such Organization, and you represent and warrant that you have the legal authority to bind such Organization to these ToU. References to “you” and “your” in these ToU will refer to both the individual using the Site and to any such Organization . 

 If you do not accept to be bound by these ToU, then you must not use or access the Site. 

 Your agreement with Capgemini is made up of these ToU, together with any additional terms and conditions posted on the Site or otherwise made available to you by Capgemini. 

 Capgemini reserves the right, at its sole discretion, to modify or delete all or portions of these ToU at any time without further notice. If we do this, we will indicate at the top of this page the date these ToU were last revised. Your use of the Site after any such changes constitutes your acceptance of the new ToU. 

 These ToU apply to www.capgemini.com and any other Capgemini website on or accessible via www.capgemini.com (collectively, the “Capgemini Sites”). The Capgemini Sites are operated by subsidiaries of Capgemini SE, under the global coordination of Capgemini Service SAS. 

 Some Capgemini Sites may be subject to different or additional terms. By accessing any of these Capgemini Sites, you agree to be bound by any additional terms that govern use of each such Capgemini Site. 

 2. Purpose of the Site 

 All the materials contained in the Site are provided for informational purposes only and shall not be construed as a commercial offer, a license, an advisory, fiduciary or professional relationship between you and Capgemini. No information provided on this Site shall be considered a substitute for your independent investigation. 

 The information provided on this Site may be related to products or services that are not available in your country and/or will not be available at any time. 

 3. Links to third-party websites 

 Links to third-party websites are provided for convenience only and do not imply any approval or endorsement by Capgemini of the linked sites, even if they may contain Capgemini’s logo, as such sites are beyond Capgemini’s control. Thus, Capgemini cannot be held responsible for the content of any linked site or any link contained therein. Therefore, you should protect yourself against viruses, worms, Trojan horses and other potentially destructive programs that may be present on third-party websites. And you are responsible for checking and complying with terms of use applicable to these third-party websites. 

 You acknowledge that framing the Site or any similar process is prohibited. 

 4. Information you post on the Site 

 Capgemini does not assume any obligation to monitor the information that you may post on its Site. 

 You warrant that any information, Materials (the term “Material” is intended to cover all projects, files or other attachments sent to us) or comments other than personal data, that you may transmit to Capgemini through the Site does not infringe intellectual property rights or any other applicable law. Such information, Materials or comments, will be treated as non-confidential and non proprietary. You warrant that any information, Materials or comments, that you may transmit to Capgemini through the Site do not affect the integrity and/or the security of the Site, and in particular, do not contain any virus, worms, Trojan horses and other potentially destructive programs. 

 By submitting any information or material, you give Capgemini an unlimited and irrevocable license to use, copy, execute, show, display, modify and transmit such information, Material or comments, including any underlying idea, concept or know-how, in whole or in part, in any manner or medium. Capgemini reserves the right to use such information in any way it chooses. 

 5. Social Media House Rules 

 We aim to keep our social media channels a pleasant experience and ensure our communities are positive, constructive, and supportive. To this end we reserve the right to remove any posts in breach of our house rules and to block any individual who violates them repeatedly. 

 We will remove comments that: 

 Defame abuse, harass, stalk, threaten or otherwise violate the legal rights of others. 

 Are racist, sexist, homophobic, sexually explicit, abusive or otherwise objectionable 

 Contain swear words or other language likely to offend. 

 We know or suspect may break the law or condone or encourage unlawful activity. This includes publishing, posting, distributing or disseminating any defamatory, infringing, obscene, indecent, misleading or unlawful material or information. 

 Advertise products or services for profit. 

 Are made to appear as if they have been posted by someone else. 

 Repeatedly post the same message, or are unrelated to Capgemini and its brands – ‘spam’. 

 We reserve the right to adjust these rules as needed and to delete content for reasons not stated in this list. 

 By using our social channels, you agree to comply with these house rules and the platform’s own terms and conditions. 

 Comments and other material posted by users of our social channels do not reflect the opinions of Capgemini, nor does Capgemini confirm their accuracy. 

 If you would like to alert us to any inappropriate use of this Site as specified, please contact: socialmedia.fr@capgemini.com 

  6. Intellectual Property 

 This Site is protected by intellectual property rights including but not limited to trademarks, copyright, designs, sui generis right of the database producer, etc. and is the exclusive property of Capgemini. 

 Any material that it contains, including, but not limited to, texts, data, graphics, pictures, sounds, videos, logos, icons or html code is protected under intellectual property law and remains Capgemini or third party’s property. 

 You may copy, download and print off this material for personal and non-commercial purposes only and in accordance with the principles governing intellectual property laws. You must not modify any material copied, downloaded or printed off from the Site in any way. Any other use of the content of the Site without Capgemini’s prior written authorization is prohibited. 

 Non-compliance with the above-mentioned prohibitions may constitute an act of counterfeiting and/or unfair competition engaging your civil and/or criminal liability. 

  Capgemini’s Registered Trademarks include but are not limited to the following: 

 Capgemini 

 The Capgemini logo 

 The Capgemini Invent logo 

 The spade logo 

 Intelligent Industry 

 Get the Future You Want 

 Sogeti. 

  All other trademarks not owned by Capgemini that appear on the Site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Company. You should require specific authorization to use for any purpose any of the trademarks owned by Capgemini or any third party. 

  7. Warranty and Liability 

 All materials contained in the Site are provided «as is» and without warranty of any kind to the extent allowed by the applicable law. While Capgemini will use reasonable efforts to provide reliable information through its Site, Capgemini does not warrant that this Site is free of inaccuracies, errors and/or omissions, or that its content is appropriate for your particular use or up to date, and Capgemini reserves the right to change the information at any time without notice. Capgemini does not warrant any results derived from the use of any material.You are solely responsible for any use of the materials contained in this Site. Any use of the website is at your own risk. You must comply with all applicable laws, rules and regulations. 

 The information contained in this site does not extend or modify the warranty that may apply to you as a result of a contractual relationship with Capgemini. 

 Capgemini will not be liable for damages of any kind including indirect, consequential or incidental damages, lost profits or revenues, business interruption, loss of goodwill, work stoppage, security breaches, viruses, computer failure or malfunction, loss of data arising out of or in connection with the use, inability to use or reliance on any material contained in this Site or any linked site, even if any of the parties to these ToU are advised of the possibility of such losses. 

 8. Nullity of a provision 

 If any term in these ToU is, for any reason whatsoever, held invalid, illegal or unenforceable in any respect, such invalidity, illegality or unenforceability shall not affect any other provision of these ToU. 

 9. Waiver of rights 

 The failure by Capgemini to exercise, or delay in exercising, a legal right or remedy provided by these ToU or by law shall not constitute a waiver of Capgemini’s right or remedy. If Capgemini waives a breach of these ToU, this shall not operate as a waiver of a subsequent breach of the ToU. 

 10. Applicable law and jurisdiction 

 Any controversy or claim arising out of or related to the ToU shall be governed by French law. The courts of Paris, France will have exclusive jurisdiction. 

 11. Miscellaneous 

 This site is edited by: 

 Capgemini Service Société par actions simplifiée au capital de 8, 000,000 euros – 652 025 792 RCS Paris Siège social : 11 rue de Tilsitt, 75017 Paris 

 France Tel: +33 (0)1 47 54 50 00 Publication Director: / Directeur de la publication : M. Aiman Ezzat 

 ISP: / Hébergeur : 

 Automattic Inc 60 29th Street #343 San Francisco, CA 94110 – U.S.A Tel: 00 1 (877) 273-3049. 

 Insights 
 Industries 
 Services 
 Careers 
 About us 
 Investors 
 Terms of use 
 Accessibility 
 Privacy notice 
 Security vulnerability notification 
 Cookie settings 
 Cookie policy 
 Fraud alert 

 Our brands: 

 Column 1 

 Insights 
 Industries 
 Services 
 Careers 
 News 
 About us 
 Contact us 
 Investors 

 Column 2 

 Accessibility 
 Cookie policy 
 Cookie settings 
 Privacy notice 
 Security vulnerability notification 
 SpeakUp 
 Terms of use 
 Fraud alert 

 © Capgemini, 2026. All rights reserved. 

 LinkedIn 

 LinkedIn 

 Instagram 

 Instagram 

 Facebook 

 Facebook 

 Youtube 

 Youtube 

 Glassdoor 

 Glassdoor 

 © Capgemini, 2026. All rights reserved." 1 :add]
 ["capgemini-tos-1" :tos/source-url "https://www.capgemini.com/terms-of-use/" 1 :add]
 ["capgemini-tos-1" :tos/retrieved-at "2026-07-10T10:58:05Z" 1 :add]
 ["capgemini-tos-1" :tos/sha256 "2ddb480d9a03ea3066a86419be2dcfbdb70f4f53f83b18bf3c8328cbe0edf835" 1 :add]
 ["capgemini-tos-1" :tos/doc-type :terms-of-service 1 :add]]
